<div class="container p-5">
  <h2 class="text-center">GitHub Contribution Charts for <em>Batch #488</em></h2>
</div>

  <div class="text-center p-2">
    <!--<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs" style="margin-inline: 300px;">
        <%= link_to "Sign in with Github", user_github_omniauth_authorize_path %>
        <%= f.input :login,
                    label: "Github Username",
                    required: true,
                    autofocus: true %>
        <%= f.input :password,
                    required: true %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions badge badge-pill badge-primary">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>
    -->

    <div class="images-container">
      <div class="image-caption">
        <h5>Do you want to be like this defeated ginger?</h5>
        <%= image_tag("lazyCat.jpg", class: "image") %>
      </div>
      <div class="image-caption">
        <h5>Or do you want to be an <em>Octocat Ninja?</em></h5>
        <%= image_tag("ninjaOctocat.jpg", class: "image") %>
      </div>
    </div>

    <div class="text-center mt-5 mb-4">
      <h4>Of course you want to be an <em>Octocat Ninja</em>!</h4>
    </div>

    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>